<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <table>
            <tr>

                <td class="title">Name</td>
                <td class="title">Price</td>
                <td class="title">Update</td>
                <td class="title">Delete</td>

            </tr>
             <% obj.forEach(function(justOne) { %>
            <tr>
                <td><%= justOne.name %><br><br></td>
                <td><%= justOne.price %><br><br></td>
                <td><a class="update" href="update/<%= justOne._id %>">Update</a><br><br></td>
                <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a><br><br></td>
            </tr>
        <% }); %>
        </table>
        <br>
    <div class = "input">
    <form action="/addName" method="post">
        <h1 class = "ititle">Enter the data here</h1>
        <input type="text" id = "text"  required name="name" placeholder="name"><br><br>
        <input type="number"id = "text" name="price" placeholder="price"><br><br>
        <input type="text" id = "text" name="image" placeholder="image"><br><br>
        <input type="number" id = "text" name="uuid" placeholder="uuid"><br><br>
        <input type="text" id = "text" name="description" placeholder="description"><br><br>
        <input type="submit" onclick = "sendData">
    </form>
</div>
<script src = "script.js "></script>
</body>
</html>
